.post_container{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    box-shadow: var(--shadow);
    background-color: var(--primary-color);
    /* border: 1px solid black; */
    padding: 8px 16px;

}
.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.post_header-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 6px;
    padding-bottom: 4px;
}

.post_header-content img{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 100%;
    
}
 
.username{
    font-size: 1rem;
    color: var(--text-color);
    
}
 .post__header-btns{
    display: flex;
    gap: 1rem;
 }

 .post_header-content p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    
 }

 .post__header-btns{
    border: none;
    display: flex;
    gap: 1rem;
 }

 .post__header-btns button{
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: none;
 }
 .fill_red{
    fill: red;
 }

 .post-content-buttons button{
    border: none;
    background: none;
    font-size: 1.2rem; 
 }
 .post-content-button-bookmark button{
    border: none;
    background: none;
    font-size: 1.2rem; 
 }

.fill_accent_color{
    fill: black;
    border: none;
}
.bookmark_btn{
    border: none;
    background-color: var(--primary-color);
}


.commentedByImage{
    width: 30px;
    aspect-ratio:1 ;
    border-radius: 100%;
    object-fit: center;
}
.comment_list_item{
    list-style: none;
}

.commentedUsername{
    text-decoration: none;
    font-size: 1.1rem;
}
.comment_delete_btn{
    border: none;
    background-color: white;
}
.deleteBtn{
    font-size: 1.2rem;
}