.main{
  background-color: var(--secondary-color);
  margin-right: 0.5rem;
}

.link{
    text-decoration: none;
    color:var(--text-color) ;
    cursor: pointer;
}
Link{
    text-decoration: none;
}
.side-items{
    color:var(--text-color) ;
}

.sidebar-icon{
    margin-right: 0.7rem;
}
.postBtn{
    padding: 0.6rem 1.2rem;
    border: none;
    /* background-color: var(--primary-color); */
    background-color: var(--text-color);

    border-radius: 10px;
    /* box-shadow: 0 8px 16px 0 rgba(195, 216, 221, 0.304); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.18);
    /* color: var(--text-color); */
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.postBtn:hover {
    /* transform: translateY(-1px); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.25);
  }

.btn__icon{
    margin-right: 8px;
}

  
  /* Ensure the modal overlay covers the entire screen */
.modal {
  position: fixed;           /* Fixed position to cover the full screen */
  top: 0;
  left: 0;
  width: 100%;               /* Full width */
  height: 100%;              /* Full height */
  background-color: var(--back-color);  /* Semi-transparent overlay */
  display: flex;             /* Use flexbox to center modal content */
  justify-content: center;   /* Horizontally center the modal content */
  align-items: center;       /* Vertically center the modal content */
  z-index: 1050;             /* Ensure modal is above other content */
}

/* Modal content */
.modal-dialog {
  max-width: 500px;          /* Max width of the modal */
  width: 100%;               /* Full width within the modal */
  margin: 0;                 /* Remove default margin */
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Modal content styling */
.modal-content {
  background-color: var(--background-color);  
  border-radius: 8px;       /* Optional: Rounded corners */
  padding: 20px;            /* Padding inside the modal */
}

.postSubmit{
  background-color: var(--primary-color)!important;
  border: none;
  box-shadow: var(--shadow);
  display: block; 
  padding: 0.5rem 1rem; /* Match form-control padding */
  border-radius: 0.375rem; /* Match form-control border-radius */
  color: var(--text-color);
}

.preview-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.main{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 4px;
  position: sticky;
  height: 80vh;
  top: 0;
  width: 100%;
}

.profile{
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  width: 50px;
}
.sidebarFooter{
  font-size: 1rem;
}