.post_container{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    box-shadow: var(--shadow);
    background-color: var(--primary-color);
    padding: 8px 16px;

}
.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.post_header-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 6px;
    padding-bottom: 4px;
}

.post_header-content img{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 100%;
    
}
 
.username{
    font-size: 1rem;
    color: var(--text-color);
    
}
 .post__header-btns{
    display: flex;
    gap: 1rem;
 }

 .post_header-content p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    
 }

 .post__header-btns{
    border: none;
    display: flex;
    gap: 1rem;
 }

 .post__header-btns button{
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: none;
 }
 .fill_red{
    fill: red;
 }

 .post-content-buttons button{
    border: none;
    background: none;
    font-size: 1.2rem; 
 }
 .post-content-button-bookmark button{
    border: none;
    background: none;
    font-size: 1.2rem; 
 }

.fill_accent_color{
    fill: black;
    border: none;
}
.bookmark_btn{
    border: none;
    background-color: var(--primary-color);
}

/* comment modal */
.modal {
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;               
    height: 100%;             
    background-color: rgba(189, 200, 201, 0.5);  
    display: flex;             
    justify-content: center;  
    align-items: center;       
    z-index: 1050;               
  }
  
  /* Modal content */
  .modal-dialog {
    max-width: 500px;          
    width: 100%;               
    margin: 0;   
  }
  
  /* Modal content styling */
  .modal-content {
    background-color: var(--primary-color);  
    border-radius: 8px;       
    padding: 20px;            
  }

  .submitBtn{
    background-color: var(--primary-color)!important;
    border: none;
    box-shadow: var(--shadow);
    color: var(--text-color);
  }
.post-media-image{
  width: 600px;
  height: 350px;
  object-fit: cover;
  margin: 0.5rem 0;
}