.filter_btn button{
  border: none;
}

.filter_btn{
  background: none;
  border: none;
  font-size: 1.5rem;
}

.icon_normal{
    border: none;
}
.post_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    
    padding: 0.5rem 0rem;
  }

.post_item{
    list-style: none;
    
  }
.color_fill {
    fill: orange;
}