/* .filter-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* gap: 1rem;
    margin-bottom: 1rem; */
/* } */ */


.color_fill{
    fill: orange;
}
.filter_btn{
    background: none;
  border: 5px solid yellow;
  margin-top: 0.2rem;
  font-size: 1.5rem;
  color: white;
}

.icon_normal{
    border: none;
}
.post_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

.post_item{
    list-style: none;
    
  }