body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-color:#bde1e8;
  --secondary-color:#f3f3fd;
  --main-background:#f9fdff;
  --text-color:#05516f;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  --tertiary-color:rgb(156, 184, 183);
  --border-color:rgb(41, 45, 45);
  --back-color:rgba(36, 87, 88, 0.5);
   padding: 0;
  margin: 0;
  --font-size:1.1rem
}